aws_region                  = "ap-south-1"
project_name                = "pr-inventory"
environment                 = "bootstrap"
jenkins_instance_type       = "t3.micro"
jenkins_allowed_cidr_blocks = ["0.0.0.0/0"]
jenkins_ssh_allowed_cidr_blocks = []

tags = {
  Project     = "pr-inventory"
  ManagedBy   = "Terraform"
  Environment = "bootstrap"
}
